<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @modifier.name %>
</p>

<p>
  <strong>Deltaprice:</strong>
  <%= @modifier.deltaPrice %>
</p>

<%= link_to 'Edit', edit_modifier_path(@modifier) %> |
<%= link_to 'Back', modifiers_path %>
