<%= form_for(@customization) do |f| %>
  <% if @customization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customization.errors.count, "error") %> prohibited this customization from being saved:</h2>

      <ul>
      <% @customization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :modifier_id %><br>
    <%= f.number_field :modifier_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
